# Ignore Gradle project-specific cache directory
.gradle

# Ignore editor-specific folders
.idea

# Ignore Gradle build output directory
build
target
output
tmp
out
/bin/

.DS_Store
.classpath
.project
.settings/
